*{
    margin: 0;
    padding: 0;
}
.cabecalho { 
    background-color: darkred;
    padding: 24px 0;
}

.cabecalho-imagem{ 
    width: 25%;
}

.homem-de-ferro-imagem{
    width: 400px;
}